.venv
.env
.env.secret
.coverage
# .vscode
dbt_packages
target/
dbt_modules/
logs/
**/.DS_Store
TD_DIA_Lakehouse*/
tmp*/
README-secret.md

*.duckdb*

transformation/demo_transformation_jaffle_shop/exports/*.csv
transformation/demo_transformation_jaffle_shop/_local_queries/*

transformation/transformation_nsw_doe/exports/*.csv
transformation/transformation_nsw_doe/_local_queries/*.sql

secrets.toml

__pycache__