dbt-duckdb
dbt-metricflow[duckdb]

dagster-webserver
ipykernel

duckdb==0.10.1 #currently not supported duckdb version for motherduck

# dagster deps
dagster-dbt
dagster-duckdb
dagster-duckdb-pandas

dagstermill
papermill-origami>=0.0.8

# required for pandas to read excel for acara data
openpyxl

prophet
scipy
plotly

seaborn
scikit-learn


# For Documentation
dbterd


# Exploritory data analysis
ydata_profiling
ipywidgets

# dlt
dagster-embedded-elt
google-analytics-data
google-api-python-client
google-auth-oauthlib
requests_oauthlib