dbt-duckdb
dbt-metricflow[duckdb]

ipykernel

duckdb==0.10.2 #latest version for mother duck

# dagster deps
dagster-dbt
dagster-duckdb
dagster-duckdb-pandas
dagster-webserver
dagstermill
papermill-origami>=0.0.8

# data schema validation
pandera
pandera[io]

# required for pandas to read excel for acara data
openpyxl

# ML
prophet
scipy
plotly

seaborn
scikit-learn

# alerting
dagster-msteams

# For Documentation
dbterd


# Exploritory data analysis
ydata_profiling
ipywidgets

# dlt
dagster-embedded-elt
# dlt[motherduck] # cant use motherduck yet with dlt if duckdb > 0.10
google-analytics-data
google-api-python-client
google-auth-oauthlib
requests_oauthlib
# development
pytest
ruff
sqlfluff
sqlfluff-templater-dbt
pre-commit
