dbt-duckdb
dbt-metricflow[duckdb]

dagster-webserver
ipykernel

duckdb==0.10.1 #currently supported duckdb version for motherduck

# dagster deps
dagster-dbt
dagster-duckdb
dagster-duckdb-pandas

prophet
scipy
plotly


# For Documentation
mkdocs-material